<html>
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="public\scss\app.scss"
  </head>
  <body>

    <div class="app">
      <header>
        <h1>header API</h1>
      </header>
      {{{body}}}
      <footer>
        <h1>footer API</h1>
      </footer>
    </div>

  </body>
</html>